<!DOCTYPE html>

<html lang="es-CO" class="html">
<head >
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <div class="titulo"> <title>VETERINARIA</title></div>

</head>

<body class="body">

  <form [formGroup]="myForm" (ngSubmit)="guardar(myForm)" errorTailor>
  <div class="modal-header">
  <div class="t">  <h4 class="modal-title" id="modal-basic-title">Dueño</h4>
  </div>
    <div class="Con_Imput">
      <input type="text" placeholder="ID Persona" class="imp" id="nmcliente"  formControlName="identificacion" >
  </div>
  <div class="Con_Imput">
    <input type="text" placeholder="Nombre" class="imp" id="nmcliente"  formControlName="tipoIdDueno">
  </div>
  <div class="Con_Imput">
    <input type="text" placeholder="ID Persona" class="imp" id="nmcliente"  formControlName="telefono" >
</div>
<div class="Con_Imput">
  <input type="text" placeholder="ID Persona" class="imp" id="nmcliente" formControlName="ciudad" >
</div>
<div class="Con_Imput">
  <input type="text" placeholder="ID Persona" class="imp" id="nmcliente" formControlName="direccion" >
</div>
<div class="Con_Imput">
  <input type="text" placeholder="ID Persona" class="imp" id="nmcliente" formControlName="nombre" >
</div>
<div class="Con_Imput">
  <input type="text" placeholder="ID Persona" class="imp" id="nmcliente" formControlName="idPaciente" >
</div>
  <div class="Con_Imput">
    <button type="submit"  >Enviar</button>
</div>
  </div>
</form>

<div class="Con_Imput">
  <input type="text" placeholder="Buscar Nombre" class="imp" id="nmcliente" [(ngModel)]="buscar"  >
</div>
<div class="con-table">

<table id="table"
class="table table-bordered hover table-borderless">

<thead>
    <tr>
      <th style="text-align:center">id</th>
      <th style="text-align:center">Tipo Id</th>
      <th style="text-align:center">telefono</th>
      <th style="text-align:center">ciudad</th>
      <th style="text-align:center">direccion</th>
      <th style="text-align:center">nombre</th>
      <th style="text-align:center">idPaciente</th>
      <th style="text-align:center">Delete</th>
      <th style="text-align:center">Actualizar</th>




  </tr>
</thead>
<tbody>
  <tr style="text-align:center;"  *ngFor="let index of DuenoV | dueno: buscar" >


      <td style="margin-top: 3%;">{{index.identificacion}}</td>
      <td style="margin-top: 3%;">{{index.tipoIdDueno}}</td>
      <td style="margin-top: 3%;">{{index.telefono}}</td>
      <td style="margin-top: 3%;">{{index.ciudad}}</td>
      <td style="margin-top: 3%;">{{index.direccion}}</td>
      <td style="margin-top: 3%;">{{index.nombre}}</td>
      <td style="margin-top: 3%;">{{index.idPaciente}}</td>


      <td style="margin-top: 3%;">

    <button class="edit" mat-icon (click)="confirmar(index.identificacion)">
      <abbr title="Eliminar">
             Eliminar
      </abbr>
  </button>

  </td>
  <td style="margin-top: 3%;">

    <button class="edit" mat-icon (click)="editar(index)" >
      <abbr title="Editar">
             Editar
      </abbr>
  </button>

  </td>
  </tr>
</tbody></table>

</div>

</body>

</html>




