*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;

}

h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  padding-top: 5px;
  margin-left: 1em;


}


.con-table{
  background: #f6f5f5;
  padding: 3em;
  padding-top: 2px;
  margin: 2em;
  box-shadow: 10px 10px 10px 10px #e1e0e0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
th{
  width: 500px;
}
.Con_Imput{
display: inline-block;
position: relative;
margin-top: 3rem;
margin-left: 4em;
font-family: Georgia, 'Times New Roman', Times, serif;

}
input{
  border: solid 1px;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Agregar{
  border:none;
  margin-left: 65%;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold  ;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.eliminar{
  border:none;
  color: rgb(178, 178, 224);
  background-color: #f6f5f5;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold  ;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
button:hover
{
  background-color: rgb(178, 178, 224);
  color:#f6f5f5; ;
}
.edit{
  margin-left:5px ;
}


